<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobitel - Aplikacija</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>

<nav>
    <ul>
        <li><a href="/" style="font-family: 'Cabin', sans-serif; text-decoration:none; color:black;">Početna</a></li>
        <li><a href="/o-nama" style="font-family: 'Cabin', sans-serif; text-decoration:none; color:black;">O nama</a></li>
        <li><a href="/cjenik" style="font-family: 'Cabin', sans-serif; text-decoration:none; color:black;">Cjenik</a></li>
    </ul>
</nav>

    {% block content %}
    {% endblock content %}

</body>
</html>