{% extends "base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Cabin&amp;subset=latin-ext" rel="stylesheet">
    <h1 style="font-family: 'Cabin', sans-serif;">O nama</h1>
    <p style="font-family: 'Cabin', sans-serif;">Mi smo telekom s dugom tradicijom i vrhunskom uslugom.<br>Dodaj slike ovdje...</p>
    <img src="static/img/slika.jpg" alt="telekom" style="height:400px;">
    <img src="static/img/slika1.jpg" alt="telekom" style="height:400px;">
{% endblock content %}